# OOPS - (Object Oriented Programming System)

Class

In [1]:
class Student:
    #initialisation/constructor      #self --->instance/object name
    def __init__(self,rollno,name):
        self.rollno = rollno
        self.name = name
        
    def display(self):   #user defined function
        print("Student rollno = ",self.rollno, "and Name = ",self.name)

In [2]:
#creating instance

obj1 = Student(201,"John")  #this line will be automatically invoke the initialisation constructor

obj1.display()     #user defimed functions is called explicity

Student rollno =  201 and Name =  John

In [3]:
stud1 = Student(202,"Andrew")     #this line will be automatically invoke the initialisation constructor

stud1.display()

Student rollno =  202 and Name =  Andrew

In [4]:
stud2 = Student(203,"Vijay")     #this line will be automatically invoke the initialisation constructor
stud2.display()

Student rollno =  203 and Name =  Vijay

In [14]:
class Employee:
    revenue = 30000
    def __init__(self,empno,name,sal):
        self.empno= empno
        self.name= name
        self.sal= sal
        
    def display(self):
        print(self.empno," ", self.name, " ", self.sal)

In [15]:
emp1 = Employee(101,"Vijay",   90000)
emp1.display()

emp2 = Employee(102,"Dhanush",80000)
emp2.display()

emp3 =Employee(103,"Kiara",   70000)
emp3.display()

101   Vijay   90000
102   Dhanush   80000
103   Kiara   70000

In [16]:
emp1.sal

90000

In [17]:
Employee.revenue

30000

In [21]:
class car:
    def  __init__(self,company,color):
        self.company= company
        self.color= color
        
        #function to print car, company and color
        
        def display(self):
            print("This is a",self.company,self.color)

In [22]:
def main():
    c= car("Ferrari","Red")
    c.display()

In [26]:
if __name__ =="__main__":
    main()

AttributeError: 'car' object has no attribute 'display'

# Package

In [1]:
import math

In [2]:
math.pi

3.141592653589793

In [3]:
math.sqrt(64)

8.0

In [4]:
math.pow(2,3)

8.0

In [6]:
r= 10

In [7]:
aoc= math.pi*(math.pow(r,2))

In [8]:
aoc

314.1592653589793

In [9]:
round(aoc,2)

314.16

In [14]:
def find_sqrt(x):
    return math.sqrt(x)

x= int(input("Enter any value "))
find_sqrt(x)

Enter any value 81

9.0

In [16]:
def func_power(a,b):
    return math.pow(a,b)

a= int(input("Enter any value "))
b= int(input("Enter any value "))
func_power(a,b)

Enter any value 2
Enter any value 4

16.0

In [17]:
import math as mt

In [18]:
mt.pi

3.141592653589793

In [19]:
round(mt.pi,3)

3.142

In [21]:
math.__dict__.keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log1p', 'log10', 'log2', 'modf', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc', 'prod', 'perm', 'comb', 'nextafter', 'ulp', 'pi', 'e', 'tau', 'inf', 'nan'])

GET TIME AND DATE

In [22]:
import datetime

In [23]:
dt = datetime.datetime.now()

In [24]:
dt

datetime.datetime(2022, 8, 14, 12, 26, 35, 355559)

Get Date

In [25]:
dt1 = datetime.date.today()

In [26]:
dt1

datetime.date(2022, 8, 14)

Commonly used classes in the date time module are:
    
    date class
    time class
    datetime class
    timedelta class

In [29]:
import datetime
d = datetime.date(2022,8,14)
d

datetime.date(2022, 8, 14)

In [1]:
td = date.today(2022,5,15)
td()

print("Year =", td.year)
print("Month = ",td.month)
print("Day = ", td.day )

NameError: name 'date' is not defined

In [7]:
from datetime import time
a= time()
print(a)

b= time(11,35,56)
print(b)

00:00:00
11:35:56

In [8]:
b= datetime(2022,8,14,12,47,56)
print(b.year)
print(b.month)
print(b.day)
print(b.hour)
print(b.minutes)
print(b.seconds)

NameError: name 'datetime' is not defined