# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videosYou need to find following details:A) RankB) NameC) ArtistD) Upload dateE) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

In [5]:
Rank=[]
Name=[]
Artist=[]
Date=[]
Views=[]

In [6]:
try:
    ranks=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        Rank.append(i.text)
except NoSuchElementException: # handling no such element exception
    Rank.append('-')
time.sleep(1)

try:
    name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in name:
        Name.append(i.text)
except NoSuchElementException: # handling no such element exception
    Name.append('-')
time.sleep(1)

try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException: # handling no such element exception
    Arist.append('-')
time.sleep(1)

try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementException: # handling no such element exception
    Views.append('-')
time.sleep(1)

try:
    date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date:
        Date.append(i.text)
except NoSuchElementException: # handling no such element exception
    Date.append('-')
time.sleep(1)

In [7]:
df1= pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Views':Views,'Date':Date})
df1

,Rank,Name,Artist,Views,Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.00,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.05,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.57,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.89,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.88,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.74,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.08,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.79,"November 19, 2014"
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,4.77,"May 24, 2018"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.76,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.64,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.18,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.80,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.70,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.70,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.67,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.62,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.53,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.46,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.42,"February 20, 2014"
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.40,"June 4, 2010"
22,23.,"""Faded""[43]",Alan Walker,3.38,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.36,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.35,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.33,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.31,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.31,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.26,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.24,"June 14, 2018"

# 2. Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/.You need to find following details:A) Match title (I.e. 1st ODI)B) SeriesC) PlaceD) DateE) TimeNote: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://www.bcci.tv/")
driver.maximize_window()

In [9]:
item = driver.find_element(By.XPATH,'//li[@class="nav-item"]')
item.click()

In [10]:
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

# Scraping title
title=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in title:
    Title.append(i.text.split("-")[0])

# Scraping series
series=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in series:
    Series.append(i.text)

# Scraping place
place=driver.find_elements(By.XPATH,"//div[@class='fix-place ng-binding ng-scope']")
for i in place:
    Place.append(i.text.split("-")[1])

# Scraping date
date=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
for i in date:
    Date.append(i.text)

# Scraping time
time=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
for i in time:
    Time.append(i.text)  
    
df2=pd.DataFrame({'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df2

,Title,Series,Place,Date,Time
0,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
1,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
2,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
3,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
4,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
5,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
6,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
7,3rd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.Url = https://www.guru99.com/You need to find following details:A) NameB) DescriptionNote: - From guru99 home page you have to reach to selenium exception handling page through code.

In [11]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [12]:
search_button=driver.find_element(By.XPATH,"/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[1]/div/div/div/span")
search_button.click()
button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
button.click()

In [13]:
name =[]
description=[]

In [14]:
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
    for i in all_tags:
        all_info.append(i.text.split(":"))
except NoSuchElementException:
    all_info.append('--')
all_info1= all_info[:41]

jj=[]
for i in all_info1:
    for j in i:
        jj.append(j)
        

for i in range(0, len(jj)):
    if i % 2 ==0:
        name.append(jj[i])

for i in range(0, len(jj)):
    if i % 2 ==1:
        description.append(jj[i])

In [15]:
data_list= list(zip(name,description ))

df3= pd.DataFrame(data_list, 
    columns =['Name','Description'],
    index=pd.RangeIndex(start=1, stop=42, name='Sr. No.'))

#Print the required data

print ("Details of selenium exception from guru99.com:\n")
df3

Details of selenium exception from guru99.com:

,Name,Description
Sr. No.,,
1,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
2,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
3,3. NoSuchElementException,This Exception occurs if an element could not...
4,4. NoSuchFrameException,This Exception occurs if the frame target to ...
5,5. NoAlertPresentException,This Exception occurs when you switch to no p...
6,6. NoSuchWindowException,This Exception occurs if the window target to...
7,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
8,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
9,9. TimeoutException,Thrown when there is not enough time for a co...
10,10. WebDriverException,This Exception takes place when the WebDriver...
11,11. ConnectionClosedException,This type of Exception takes place when there...
12,12. ElementClickInterceptedException,The command may not be completed as the eleme...
13,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
14,14. ErrorInResponseException,This happens while interacting with the Firef...
15,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
16,16. ImeActivationFailedException,This expectation will occur when IME engine a...
17,17. ImeNotAvailableException,It takes place when IME support is unavailable.
18,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
19,19. InvalidArgumentException,It occurs when an argument does not belong to...
20,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
21,21. InvalidCoordinatesException,This type of Exception matches an interacting...
22,22. InvalidElementStateException,It occurs when command can’t be finished when...
23,23. InvalidSessionIdException,This Exception took place when the given sess...
24,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
25,25. JavascriptException,This issue occurs while executing JavaScript ...
26,26. JsonException,It occurs when you afford to get the session ...
27,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
28,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
29,29. NoSuchContextException,ContextAware does mobile device testing.
30,30. NoSuchCookieException,This Exception occurs when no cookie matching...
31,31. NotFoundException,This Exception is a subclass of WebDriverExce...
32,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
33,33. ScreenshotException,It is not possible to capture a screen.
34,34. SessionNotCreatedException,It happens when a new session could not be su...
35,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
36,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
37,37. UnhandledAlertException,This expectation occurs when there is an aler...
38,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
39,39. UnknownMethodException,This Exception happens when the requested com...
40,40. UnreachableBrowserException,This Exception occurs only when the browser i...
41,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/You have to find following details:A) RankB) StateC) GSDP(18-19)- at current pricesD) GSDP(19-20)- at current pricesE) Share(18-19)F) GDP($ billion)Note: - From statisticstimes home page you have to reach to economy page through code.

In [16]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("http://statisticstimes.com/")
driver.maximize_window()

In [17]:
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search_button.click()
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_button.click()

In [20]:
state_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
state_button.click()

In [21]:
rank=[]
state=[]
gsdp_18=[]
gsdp_19=[]
share=[]
gdp=[]

In [30]:
#Scraping Rank
a=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in a[:33]:
    rank.append(i.text)

#Scraping State    
b=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in b[:33]:
    state.append(i.text)

#Scraping gsdp_18    
c=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
for i in c[:33]:
    gsdp_18.append(i.text)

#Scraping gsdp_19 
j=0
c=driver.find_elements(By.XPATH,"//td[@class='data']")
for i in range(33):
    gsdp_19.append(c[j].text)
    j=j+5


#Scraping share
j=1
for i in range(33):
    share.append(c[j].text)
    j=j+5
      
#Scraping gdp
j=2
for i in range(33):
    gdp.append(c[j].text)
    j=j+5

In [38]:
df4=pd.DataFrame(list(zip(rank,state,gsdp_18,gsdp_19,share,gdp)),
                          columns=['Rank','State','gsdp_18','gsdp_19','share','GDP'])
df4

   Rank                      State    gsdp_18    gsdp_19   share      GDP
0     1                Maharashtra  2,632,792          -  13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%  240.726
3     4                    Gujarat  1,502,899          -   7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%  226.806
..  ...                        ...        ...        ...     ...      ...
94   27                    Manipur     27,870     31,790   0.15%    4.233
95   28                   Nagaland     27,283          -   0.14%    4.144
96   29          Arunachal Pradesh     24,603          -   0.13%    3.737
97   30                    Mizoram     22,287     26,503   0.12%    3.385
98   31  Andaman & Nicobar Islands          -          -       -        -

[99 rows x 6 columns]

# 5. Scrape the details of trending repositories on Github.comUrl = https://github.com/You have to find the following details:A) Repository titleB) Repository descriptionC) Contributors countD) Language usedNote: - From the home page you have to click on the trending option from Explore menu through code.

In [32]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://github.com/")
driver.maximize_window()

In [33]:
explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
explore.click()
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending.click()

In [34]:
title=[]
desc=[]
count=[]
language=[]

In [37]:
#Scraping repository title
a=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
for i in a:
    title.append(i.text)

#Scraping repository description
d=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in d:
    desc.append(i.text)
    
#Scraping count
d=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
for i in range(len(d)):
    if i%2==0:
        count.append(d[i].text)

#Scraping language
l=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in l:        
    language.append(i.text)
    
print("Repository title:\n",title)
print("\n")
print("Repository Description:\n",desc)
print("\n")
print("Count:\n",count)
print("\n")
print("Language used:\n",language)

df5=pd.DataFrame(list(zip(title,desc,count,language)),
                          columns=['Title','Desc','Count','Language'])
df5

Repository title:
 ['LAION-AI / Open-Assistant', 'karpathy / nanoGPT', 'sczhou / CodeFormer', 'DarkFlippers / unleashed-firmware', 'ytdl-org / youtube-dl', 'google / osv-scanner', 'pola-rs / polars', 'neonbjb / tortoise-tts', 'Developer-Y / cs-video-courses', 'dair-ai / Prompt-Engineering-Guide', 'Ebazhanov / linkedin-skill-assessments-quizzes', 'ocornut / imgui', 'AmruthPillai / Reactive-Resume', 'PRQL / prql', 'A-poc / RedTeam-Tools', 'jerryjliu / gpt_index', 'imDazui / Tvlist-awesome-m3u-m3u8', 'aurae-runtime / aurae', 'zlib-searcher / zlib-searcher', 'BrunoLevy / learn-fpga', 'alist-org / alist', 'freeCodeCamp / freeCodeCamp', 'Atlas-OS / Atlas', 'SheerSt / pokewilds', 'jwasham / coding-interview-university', 'LAION-AI / Open-Assistant', 'karpathy / nanoGPT', 'sczhou / CodeFormer', 'DarkFlippers / unleashed-firmware', 'ytdl-org / youtube-dl', 'google / osv-scanner', 'pola-rs / polars', 'neonbjb / tortoise-tts', 'Developer-Y / cs-video-courses', 'dair-ai / Prompt-Engineering-Guide', 'Ebazhanov / linkedin-skill-assessments-quizzes', 'ocornut / imgui', 'AmruthPillai / Reactive-Resume', 'PRQL / prql', 'A-poc / RedTeam-Tools', 'jerryjliu / gpt_index', 'imDazui / Tvlist-awesome-m3u-m3u8', 'aurae-runtime / aurae', 'zlib-searcher / zlib-searcher', 'BrunoLevy / learn-fpga', 'alist-org / alist', 'freeCodeCamp / freeCodeCamp', 'Atlas-OS / Atlas', 'SheerSt / pokewilds', 'jwasham / coding-interview-university']


Repository Description:
 ['OpenAssistant is a chat-based assistant that understands tasks, can interact with third-party systems, and retrieve information dynamically to do so.', 'The simplest, fastest repository for training/finetuning medium-sized GPTs.', '[NeurIPS 2022] Towards Robust Blind Face Restoration with Codebook Lookup Transformer', 'Flipper Zero Unleashed Firmware', 'Command-line program to download videos from YouTube.com and other video sites', 'Vulnerability scanner written in Go which uses the data provided by https://osv.dev', 'Fast multi-threaded, hybrid-streaming DataFrame library in Rust | Python | Node.js', 'A multi-voice TTS system trained with an emphasis on quality', 'List of Computer Science courses with video lectures.', '🐙 Guide and resources for prompt engineering', 'Full reference of LinkedIn answers 2022 for skill assessments (aws-lambda, rest-api, javascript, react, git, html, jquery, mongodb, java, Go, python, machine-learning, power-point) linkedin excel test lösungen, linkedin machine learning test LinkedIn test questions and answers', 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'PRQL is a modern language for transforming data — a simple, powerful, pipelined SQL replacement', 'Tools and Techniques for Red Team / Penetration Testing', 'An index created by GPT to organize external information and answer queries!', '直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵', 'Distributed systems runtime daemon written in Rust.', 'search zlib/libgen index to get ipfs_cid.', 'Learning FPGA, yosys, nextpnr, and RISC-V', '🗂️A file list program that supports multiple storage, powered by Gin and Solidjs. / 一个支持多存储的文件列表程序，使用 Gin 和 Solidjs。', "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.", '🚀 An open-source modification of Windows 10, designed to optimize performance, and latency.', 'PokeWilds - A Gen 2 Game/Engine using libGDX', 'A complete computer science study plan to become a software engineer.', 'OpenAssistant is a chat-based assistant that understands tasks, can interact with third-party systems, and retrieve information dynamically to do so.', 'The simplest, fastest repository for training/finetuning medium-sized GPTs.', '[NeurIPS 2022] Towards Robust Blind Face Restoration with Codebook Lookup Transformer', 'Flipper Zero Unleashed Firmware', 'Command-line program to download videos from YouTube.com and other video sites', 'Vulnerability scanner written in Go which uses the data provided by https://osv.dev', 'Fast multi-threaded, hybrid-streaming DataFrame library in Rust | Python | Node.js', 'A multi-voice TTS system trained with an emphasis on quality', 'List of Computer Science courses with video lectures.', '🐙 Guide and resources for prompt engineering', 'Full reference of LinkedIn answers 2022 for skill assessments (aws-lambda, rest-api, javascript, react, git, html, jquery, mongodb, java, Go, python, machine-learning, power-point) linkedin excel test lösungen, linkedin machine learning test LinkedIn test questions and answers', 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'PRQL is a modern language for transforming data — a simple, powerful, pipelined SQL replacement', 'Tools and Techniques for Red Team / Penetration Testing', 'An index created by GPT to organize external information and answer queries!', '直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵', 'Distributed systems runtime daemon written in Rust.', 'search zlib/libgen index to get ipfs_cid.', 'Learning FPGA, yosys, nextpnr, and RISC-V', '🗂️A file list program that supports multiple storage, powered by Gin and Solidjs. / 一个支持多存储的文件列表程序，使用 Gin 和 Solidjs。', "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.", '🚀 An open-source modification of Windows 10, designed to optimize performance, and latency.', 'PokeWilds - A Gen 2 Game/Engine using libGDX', 'A complete computer science study plan to become a software engineer.']


Count:
 ['2,479', '819', '1,973', '3,992', '116,167', '3,518', '11,037', '2,122', '48,351', '863', '21,664', '44,205', '9,543', '5,990', '483', '602', '15,670', '1,085', '3,125', '1,452', '14,484', '358,851', '3,214', '1,551', '242,125', '2,479', '819', '1,973', '3,992', '116,167', '3,518', '11,037', '2,122', '48,351', '863', '21,664', '44,205', '9,543', '5,990', '483', '602', '15,670', '1,085', '3,125', '1,452', '14,484', '358,851', '3,214', '1,551', '242,125']


Language used:
 ['Jupyter Notebook', 'Python', 'Python', 'C', 'Python', 'Go', 'Rust', 'Python', 'Python', 'C++', 'TypeScript', 'Rust', 'Python', 'Rust', 'TypeScript', 'C++', 'Go', 'TypeScript', 'Batchfile', 'Assembly', 'Jupyter Notebook', 'Python', 'Python', 'C', 'Python', 'Go', 'Rust', 'Python', 'Python', 'C++', 'TypeScript', 'Rust', 'Python', 'Rust', 'TypeScript', 'C++', 'Go', 'TypeScript', 'Batchfile', 'Assembly']

,Title,Desc,Count,Language
0,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,"2,479",Jupyter Notebook
1,karpathy / nanoGPT,"The simplest, fastest repository for training/...",819,Python
2,sczhou / CodeFormer,[NeurIPS 2022] Towards Robust Blind Face Resto...,"1,973",Python
3,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,"3,992",C
4,ytdl-org / youtube-dl,Command-line program to download videos from Y...,"116,167",Python
5,google / osv-scanner,Vulnerability scanner written in Go which uses...,"3,518",Go
6,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...","11,037",Rust
7,neonbjb / tortoise-tts,A multi-voice TTS system trained with an empha...,"2,122",Python
8,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"48,351",Python
9,dair-ai / Prompt-Engineering-Guide,🐙 Guide and resources for prompt engineering,863,C++
10,Ebazhanov / linkedin-skill-assessments-quizzes,Full reference of LinkedIn answers 2022 for sk...,"21,664",TypeScript
11,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"44,205",Rust
12,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"9,543",Python
13,PRQL / prql,PRQL is a modern language for transforming dat...,"5,990",Rust
14,A-poc / RedTeam-Tools,Tools and Techniques for Red Team / Penetratio...,483,TypeScript
15,jerryjliu / gpt_index,An index created by GPT to organize external i...,602,C++
16,imDazui / Tvlist-awesome-m3u-m3u8,直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵,"15,670",Go
17,aurae-runtime / aurae,Distributed systems runtime daemon written in ...,"1,085",TypeScript
18,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.,"3,125",Batchfile
19,BrunoLevy / learn-fpga,"Learning FPGA, yosys, nextpnr, and RISC-V","1,452",Assembly
20,alist-org / alist,🗂️A file list program that supports multiple s...,"14,484",Jupyter Notebook
21,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"358,851",Python
22,Atlas-OS / Atlas,"🚀 An open-source modification of Windows 10, d...","3,214",Python
23,SheerSt / pokewilds,PokeWilds - A Gen 2 Game/Engine using libGDX,"1,551",C
24,jwasham / coding-interview-university,A complete computer science study plan to beco...,"242,125",Python
25,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,"2,479",Go
26,karpathy / nanoGPT,"The simplest, fastest repository for training/...",819,Rust
27,sczhou / CodeFormer,[NeurIPS 2022] Towards Robust Blind Face Resto...,"1,973",Python
28,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,"3,992",Python
29,ytdl-org / youtube-dl,Command-line program to download videos from Y...,"116,167",C++
30,google / osv-scanner,Vulnerability scanner written in Go which uses...,"3,518",TypeScript
31,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...","11,037",Rust
32,neonbjb / tortoise-tts,A multi-voice TTS system trained with an empha...,"2,122",Python
33,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"48,351",Rust
34,dair-ai / Prompt-Engineering-Guide,🐙 Guide and resources for prompt engineering,863,TypeScript
35,Ebazhanov / linkedin-skill-assessments-quizzes,Full reference of LinkedIn answers 2022 for sk...,"21,664",C++
36,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"44,205",Go
37,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"9,543",TypeScript
38,PRQL / prql,PRQL is a modern language for transforming dat...,"5,990",Batchfile
39,A-poc / RedTeam-Tools,Tools and Techniques for Red Team / Penetratio...,483,Assembly

# 6. Scrape the details of top 100 songs on billiboard.com.Url = https:/www.billboard.com/You have to find the following details:A) Song nameB) Artist nameC) Last week rankD) Peak rankE) Weeks on boardNote: - From the home page you have to click on the charts option then hot 100-page link through code

In [39]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("http://www.billboard.com/")
driver.maximize_window()

In [40]:
search_button=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
search_button.click()
search_button=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
search_button.click()

In [41]:
name=[]
artist=[]
lwr=[]
pr=[]
weeks=[]

In [42]:
a=driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']")

artist.append(a[0].text.split("\n")[1])
lwr.append(a[0].text.split("\n")[2])
pr.append(a[0].text.split("\n")[3])
weeks.append(a[0].text.split("\n")[4])

#Scraping name
a=driver.find_elements(By.TAG_NAME,"h3")
for i in a[1:]:
    name.append(i.text)
while ("" in name):
    name.remove("")    
 

 #Scraping artist
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in a:
    artist.append(i.text)
 

 #Scraping last_week_rank
j=0
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    lwr.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break


#Scraping peak_rank
j=1
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    pr.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break


#Scraping weeks
j=2
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    weeks.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break
while "" in lwr: 
    lwr.remove("")
while "" in pr: 
    pr.remove("")
while "" in weeks: 
    weeks.remove("")
    
df6=pd.DataFrame(list(zip(name[:100],artist,lwr,pr,weeks)),
                          columns=['Song Name','Artist','Last Week Rank','Peak rank','Weeks on board'])
df6

,Song Name,Artist,Last Week Rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

# 7. Scrape the details of Data science recruiters from naukri.com.Url = https://www.naukri.com/You have to find the following details:A) NameB) DesignationC) CompanyD) Skills they hire forE) LocationNote: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science andclick on search. All this should be done through code

In [49]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://www.naukri.com/hr-recruiters-consultants")
driver.maximize_window()

In [50]:
search_job=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_job.send_keys("Data Scientist")
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_button.click()

In [51]:
name=[]
desg=[]
company=[]
skills=[]
location=[]

In [52]:
#Scraping Name
a=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i in a:
    name.append(i.text)

#Scraping Designation
a=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i in a:
    desg.append(i.text)

#Scrapping Company
a=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
for i in range(1,len(a),2):
    company.append(a[i].text)

#Scraping skills
a=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in a:
    skills.append(i.text)

#Scraping location
a=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
for i in a:
    location.append(i.text)

In [53]:
df7=pd.DataFrame(list(zip(name,desg,company,skills,location)),
                          columns=['Name','Designation','Company','Skills','Location'])
df7

,Name,Designation,Company,Skills,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Sai Siddharth Chinta,Technical Recruiter,McKinsey &amp; Company,Not Specified,Bengaluru / Bangalore
31,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
32,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
33,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
34,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Mumbai
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
37,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
38,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Hyderabad / Secunderabad
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Delhi
40,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Pune
41,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Bengaluru / Bangalore
42,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
43,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
44,navya neluri,Data Scientist,asens labs,Not Specified,Pune
45,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Bengaluru / Bangalore
46,Manisha,Senior Executive Talent Acquisition,Capgemini,"Html5, Css, Aws, Quality Assurance Engineering...",Mumbai
47,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Bengaluru / Bangalore
48,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad

# 8. Scrape the details of Highest selling novels.Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/You have to find the following details:A) Book nameB) Author nameC) Volumes soldD) PublisherE) Genre

In [54]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

In [55]:
name=[]
aut=[]
vol=[]
pub=[]
gen=[]

In [59]:
a=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in range(1,len(a),5):
    name.append(a[i].text)
for i in range(2,len(a),5):
    aut.append(a[i].text)
for i in range(3,len(a),5):
    vol.append(a[i].text)
for i in range(4,len(a),5):
    pub.append(a[i].text)
a=driver.find_elements(By.XPATH,"//td[@class='last left']")
for i in a:
    gen.append(i.text)

In [60]:
df8=pd.DataFrame(list(zip(name,aut,vol,pub,gen)),
                          columns=['Book Name','Author','Volumes Sold','Publisher','Genre'])
df8

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.Url = https://www.imdb.com/list/ls095964455/You have to find the following details:A) NameB) Year spanC) GenreD) Run timeE) RatingsF) Votes

In [3]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [4]:
name=[]
year=[]
gen=[]
time=[]
ratings=[]
votes=[]

In [5]:
a=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
for i in a:
    name.append(i.text.split(".")[1].split("(")[0])
    
#Scraping year of span
a=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in a:
    year.append(i.text.split("(")[1].split(")")[0])

#Scraping genre
a=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in a:
    gen.append(i.text)

#Scraping run time
a=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in a:
    time.append(i.text)

#Scraping rating
a=driver.find_elements(By.XPATH,"//span[@class='ipl-rating-star__rating']")
for i in a:
    if i.text=="\n" or i.text=="Rate" or i.text=="":
        continue
    ratings.append(i.text)  
    
##Scraping votes
a=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']")

for i in range(2,len(a),3):
    votes.append(a[i].text.split(":")[1])

In [6]:
df9=pd.DataFrame(list(zip(name,year,gen,time,ratings,votes)),
                          columns=['Show Name','Year of Span','Genre','Run Time','Rating','Votes'])
df9

,Show Name,Year of Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,099,804"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,190,086"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"994,022"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"294,179"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"253,286"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,373"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"61,969"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"199,892"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,707"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"246,915"

# 10. Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/You have to find the following details:A) Dataset nameB) Data typeC) TaskD) Attribute typeE) No of instancesF) No of attributeG) YearNote: - from the home page you have to go to the ShowAllDataset page through code

In [22]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\Fliprobo\chromedriver.exe")

driver.get('https://archive.ics.uci.edu/')

#Clicking on view all datasets link
datasets=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [23]:
try:
    names=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping the data having data type
try:
    types=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#Scrapping the data having default task
try:
    task=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')
        
#Scrapping the data having no of instances
try:
    instance=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
#Scrapping the data having the year details
try:
    year=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
    

#Creating the dataframe
df10=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df10

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021